<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="0.16.0" targetFramework="monoandroid60" />
  <package id="Carbon.Json" version="1.6.0" targetFramework="monoandroid60" />
  <package id="Carbon.Packaging" version="1.24.0" targetFramework="monoandroid60" />
  <package id="Carbon.Storage" version="1.13.0" targetFramework="monoandroid60" />
  <package id="Carbon.VersionControl" version="1.7.0" targetFramework="monoandroid60" />
  <package id="Carbon.Versioning" version="1.4.0" targetFramework="monoandroid60" />
  <package id="GitHub" version="1.11.2" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="monoandroid60" />
  <package id="sqlite-net" version="1.0.8" targetFramework="monoandroid70" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="monoandroid70" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="monoandroid70" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="monoandroid70" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.8" targetFramework="monoandroid70" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.8" targetFramework="monoandroid70" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="monoandroid60" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.CustomTabs" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Auth" version="1.6.0-alpha03" targetFramework="monoandroid70" />
</packages>